.notyf__toast--success {
    background: var(--wa-color-success-fill-loud) !important;
    color: var(--wa-color-success-on-loud);
}
.notyf__toast--error {
    background: var(--wa-color-danger-fill-loud) !important;
    color: var(--wa-color-danger-on-loud);
}
.notyf__toast--info {
    background: var(--wa-color-brand-fill-loud) !important;
    color: var(--wa-color-danger-on-loud);
}
.notyf__toast--warning {
    background: var(--wa-color-brand-fill-loud) !important;
    color: var(--wa-color-danger-on-loud);
}
.notyf__toast--debug {
    background: var(--wa-color-neutral-fill-loud) !important;
    color: var(--wa-color-neutral-on-loud);
}