{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" class="wa-cloak">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>{% block head_title %}{% endblock head_title %}Aida's Tasks</title>
  <script src="https://kit.webawesome.com/44e847aa3c56478e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
  <script src="https://unpkg.com/htmx.org@2.0.8"></script>
</head>
<body>
<wa-page>
  {% include "snippets/navbar.html" %}

  {% block main-header %}{% endblock main-header %}

  <main class="wa-body-1">
    {% block content %}{% endblock content %}
    {% include "snippets/notyf_notifications.html" with messages=messages %}
  </main>
</wa-page>
</body>
</html>