{% extends 'base.html' %}


{% block content %}
  <v-container>
    <v-card
      max-width="800"
      class="mx-auto"
    >
      <v-card-title class="display-1">Aida's Tasks</v-card-title>
      <v-card-text>
        <v-list two-line>
          <v-list-item
            v-for="(task, i) in tasks"
            :key="task.id"
          >
            <v-list-item-content>
              <v-list-item-title v-text="task.title" :class="{completed: task.completed}"></v-list-item-title>
              <v-list-item-subtitle v-text="task.notes" :class="{completed: task.completed}"></v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn
                icon large
                color="primary"
                @click="openEditDialog(task)"
              >
                <i class="fas fa-edit fa-2x"></i>
              </v-btn>
            </v-list-item-action>
            <v-list-item-action>
              <v-btn
                icon large
                color="error"
                @click="deleteTask(task.id)"
              >
                <i class="fas fa-trash fa-2x"></i>
              </v-btn>
            </v-list-item-action>
            <v-list-item-action>
              <v-btn
                icon large
                color="success"
                @click="completeTask(task)"
              >
                <i class="fas fa-check fa-2x"></i>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-card-text>
      <v-btn
        fab
        absolute
        bottom
        right
        color="success"
        @click="openNewDialog"
      >
        <i class="fas fa-plus fa-lg"></i>
      </v-btn>
    </v-card>
  </v-container>

  <v-dialog
    v-model="taskDialog"
    max-width="800"
    persistent
  >
    <v-card>
      <v-card-title class="headline" v-if="!!editTaskId">Edit Task</v-card-title>
      <v-card-title class="headline" v-else>New Task</v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12">
            <v-text-field
              persistent-hint
              v-model="taskForm.title"
              label="Task Title"
              hint="Simple description of the task"
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-textarea
              persistent-hint
              v-model="taskForm.notes"
              label="Notes"
              hint="Extra notes about the task, like a web page link or something to help you remember what the problem was"
            ></v-textarea>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          text
          @click="closeTaskDialog"
        >
          Cancel
        </v-btn>
        <v-btn
          text
          color="success"
          @click="saveTaskDialog"
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-btn
    absolute
    top
    right
    color="primary"
    @click="logout"
  >Logout</v-btn>
{% endblock %}


{% block data %}
{
  tasks: [],
  editTaskId: null,
  taskDialog: false,
  taskForm: {}
}
{% endblock %}


{% block methods %}
{
  fetchTasks() {
    this.$http.get('/api/task/')
      .then(r => r.json())
      .then(r => this.tasks = r)
      .catch(err => {
        console.log(err)
        this.$snotify.error('Failed to load tasks, check console for errors!', 'Error!')
      })
  },
  openNewDialog() {
    this.taskForm = {
      title: '',
      notes: ''
    }
    this.taskDialog = true
  },
  openEditDialog(task) {
    this.editTaskId = task.id
    this.taskForm = task
    this.taskDialog = true
  },
  closeTaskDialog() {
    this.taskDialog = false
    this.editTaskId = null
    this.taskForm = {}
  },
  saveTaskDialog() {
    if(!!this.editTaskId) {
      this.saveExistingTask()
    } else {
      this.saveNewTask()
    }
  },
  saveNewTask() {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.post('/api/task/', this.taskForm, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => {
        this.$snotify.success('Task created successfully!', 'Created')
        this.taskDialog = false
        this.taskForm = {}
        this.fetchTasks()
      })
      .catch(err => this.$snotify.error('Something broke!', 'Error'))
  },
  saveExistingTask() {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.patch(`/api/task/${this.taskForm.id}/`, this.taskForm, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => {
        this.$snotify.success('Task saved successfully!', 'Saved')
        this.taskDialog = false
        this.editTaskId = null
        this.taskForm = {}
        this.fetchTasks()
      })
      .catch(err => this.$snotify.error('Something broke!', 'Error'))
  },
  deleteTask(id) {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.delete(`/api/task/${id}`, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => {
        this.$snotify.success('Task has been deleted', 'Deleted')
        this.fetchTasks()
      })
      .catch(err => this.$snotify.error('Something broke!', 'Error'))
  },
  completeTask(task) {
    let csrf_token = Cookies.get('csrftoken')
    this.$http.patch(`/api/task/${task.id}/`, {completed: !task.completed}, {headers: {'X-CSRFToken': csrf_token}})
      .then(r => {
        this.$snotify.success('Marked as complete', 'Completed')
        this.fetchTasks()
      })
      .catch(err => this.$snotify.error('Something broke!', 'Error'))
  },
  logout() {
    this.$http.get('/api/logout/')
      .then(r => window.location = '/')
      .catch(err => this.$snotify.error('Something broke!', 'Error'))
  }
}
{% endblock %}


{% block mounted %}
{
  this.fetchTasks()
}
{% endblock %}